@import url(http://fonts.googleapis.com/css?family=Raleway);

.labelF {
    font-family: 'Raleway', arial;
    color: darkorange;
}

.inputF[type=text]{     
    font-family: 'Raleway', arial;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}

.inputF[type=text]:hover, textarea:hover{ 
         background: #F5FFFA; border:1px solid #990000;
}

.inputF[type=submit]{
        font-family: 'Raleway', arial;
        background:#87CEFA;
        color:#191970;
        border-radius:4px;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
}