h2 {
    font-family: arial;
    size: 25px;
    color: darkorange;
}
label {
    font-family: arial;
}

input{
    border: solid 1px darkorange;
    border-radius: 0.5em;
    font-family: arial;
}

#enviar{
    background-color: black;
    color: darkorange;
}